.deps/
.libs/
*.o
*.so
*.lo
*.la
tests/
build_windows/
bin/cob-config
bin/cobcrun
cobc/cobc
config.h
config.log
config.status
Makefile
libtool
po/Makefile.in
po/POTFILES
pre-inst-env
stamp-h1
tests/atconfig
tests/atlocal
tests/run_prog_manual.sh
